{% extends 'base.html' %}
{% block content %}

<div class="container h-100">
    <div class="row align-items-center h-100" >
        
        <div class="col-9 mx-auto">

            <div class="mt-4">
                <div class="text-center p-1">
                    <h3 class="theme-color">Logout Successful</h3>
                </div>
            </div>

            <h3 class='text-center m-4'>You have successfully logged out. </h3>
            <button class='btn action-btn btn-block' onclick="location.href='{% url 'index' %}'">Go Back</button>
               
        </div>
    </div>
</div>


{% endblock %}