{% extends 'base.html' %}
{% block content %}


{% if forms.error %}
    ERROR INFO
{% endif %}


{{title}}
<div class="container h-100">
    <div class="row">

        <div class="col-12 col-lg-12 ">
            <div class="row align-items-center h-100" >
                <div class="col-5 mx-auto">

                    <div class="mt-4">
                        <div class="text-center p-3">
                            <h2 class="theme-color">Login</h2>
                        </div>
                    </div>

                    <form action='{% url 'login' %}' method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="loginUsername">Username</label>
                            <input autofocus type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">
                           
                        </div>

                        <div class="form-group pb-2">
                            <label for="loginPassword">Password</label>
                            <input type="password" name="password" class="form-control" id="password">
                            
                        </div>

                        <input type="hidden" name='next' id="next" value="{{ next }}">
                        
                        <button type="submit" class="btn login-btn btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}