{% extends 'base.html' %}
{% block content %}

    <div class="container h-100">
        <div class="row align-items-center h-100" >
            
            <div class="col-9 mx-auto">

                <div class="mt-4">
                    <div class="text-center p-1">
                        <h3 class="theme-color">{{title}}</h3>
                    </div>
                </div>

                {% block dashboardcontent %}

                {% endblock %}

            </div>
        </div>
    </div>


{% endblock %}

